{% extends 'movies/base.html' %}
{% block content %}
<h2 class="mb-4">Каталог фильмов</h2>
<div class="row row-cols-1 row-cols-md-3 g-4">
    {% for movie in movies %}
    <div class="col">
        <div class="card h-100 movie-card shadow-sm">
            {% if movie.poster %}
                <img src="{{ movie.poster.url }}" class="card-img-top" alt="{{ movie.title }}" style="height: 400px; object-fit: cover;">
            {% endif %}
            <div class="card-body">
                <h5 class="card-title">{{ movie.title }}</h5>
                <p class="card-text text-muted">{{ movie.release_year }} | {{ movie.genre }}</p>
                <a href="{% url 'movie_detail' movie.pk %}" class="btn btn-primary w-100">Подробнее</a>
            </div>
        </div>
    </div>
    {% endfor %}
</div>
{% endblock %}
