{% extends 'movies/base.html' %}
{% block content %}
<div class="row bg-white p-4 rounded shadow-sm">
    <div class="col-md-4">
        {% if movie.poster %}
            <img src="{{ movie.poster.url }}" class="img-fluid rounded" alt="{{ movie.title }}">
        {% endif %}
    </div>
    <div class="col-md-8">
        <h1>{{ movie.title }}</h1>
        <p class="text-muted"><strong>Год:</strong> {{ movie.release_year }} | <strong>Жанр:</strong> {{ movie.genre }}</p>
        <hr>
        <h5>Описание</h5>
        <p>{{ movie.description }}</p>
        <a href="{% url 'movie_list' %}" class="btn btn-secondary mt-3">Назад к списку</a>
    </div>
</div>
{% endblock %}
